#container 
{
 width: 100%;
 margin-left: 0px;
 margin-right: 0px;
 height: 55px;

}
/* Header Style */
.info-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	background: url("../images/bg.jpg") #FFFFFF;
	border-bottom: 1px solid #ABABAB;
}
.info-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.info-top a:hover{
	background: #fff;
}
.utilizator {
	color: #F93;
	font-weight: bold;
}
.main_menu
{
 background: url("http://localhost/crm/pic/menu4.gif") #EEEEEE;
height: 30px;
margin: 0px 0px 0px;
text-align: center;
}
#meniu
{
 min-width: 120px;
 line-height: 30px;
}
#submeniu
{
 margin-top: 35px;
 min-width: 120px;
 border: 1px solid #000000	;
 border-right: none;
 z-index: 9999;
}

.main_menu ul
{
 padding:0px;
 margin:0;
 list-style:none;
 
}
.main_menu ul li
{
 padding:0;
 margin:0;
 border-right:1px solid #000000;
 float:left;

 
}
.main_menu ul li a
{
 color:#000000;
 display:block;
 text-decoration:none;
 padding:0 25px;
 line-height: 30px;
}
.main_menu ul li a:hover
{
 color:#CC0000;
 height: 30px;
}
.main_menu ul li ul
{
  display: none;
  width: auto;
  position:absolute;
  top:30px;
  padding:0px;
  margin:0px;
}
.main_menu ul li:hover ul
{
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  
}
.main_menu ul li:hover li
{
  float: none;
  list-style:none;
  margin:0px;
}
.main_menu ul li:hover li
{
 background: white;
 color: #CC0000;
 display: block;
 height: auto;
 line-height: 1.5em;
 text-decoration: none;

}
.main_menu ul li:hover li a
{
 color: #CC0000;
 padding:0 20px;
 display:block;
 width:170px;
 height: 30px;
}
.main_menu ul li li a:hover
{
  color:#000;
  height: 30px;
}